lxml==4.9.2
beautifulsoup4
chardet
m3u8
natsort
orjson
pysubs2
requests
tqdm
selenium
chromedriver-autoinstaller
cn2an
tmdbv3api
opencc
rtoml
validators
pwinput

# XstreamDL_CLI

aiohttp
aiohttp_socks
pycryptodome
python-dateutil